body {
    background: rgb(107, 107, 241);
    line-height: 1.5; /* Espaçamento entre linhas */
}

.form {
    width: 10%;
    position: justify;
}

input[type="text"] {
    width: 50%;
    padding: 10px;
    margin: 3px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="number"] {
    width: 40%;
    padding: 10px;
    margin: 3px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.link-restrito {
    display: inline-block;
    margin-right: 100px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}



#apreensoes {
    width: 50%;
    float: left;
    margin-left: 5px;
    margin-right: 1px;
    padding: 0;
}

#conversaoForm {
    font-size: larger;
    font-weight: 600;   

   
}

.ocultar {
    display: none;
}

p {
    font-family: Arial;
    margin-bottom: 7.1pt; /* Espaçamento entre parágrafos */
    text-indent: 2cm; /* Recuo da primeira linha do parágrafo */
}
.texto_base_relatorio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-bottom: 7.1pt; /* Espaçamento entre parágrafos */
    text-indent: 2cm; /* Recuo da primeira linha do parágrafo */
    line-height: 1.5; /* Espaçamento entre linhas */
    margin-top: 5px; /* Espaçamento de 5px do topo */
    margin-left: 5px; /* Espaçamento de 5px da esquerda */
}
.texto {
    background-color: aquamarine;
    position: absolute;
    width: 45%;
    top: 0;
    right: 0;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin-bottom: 10px;
    margin-top: 144px;
    padding: 25px 20px 20px 25px; /* Ajusta o padding para adicionar 5px extra no topo e à esquerda */
    margin-left: 50%;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.493);
    text-align: justify;
}

p #teseEnfrentar {
    font-weight: bold;
    text-decoration: underline;
    font: normal 12pt Arial;
   
}

header {
    color: white;
    text-align: center;
    padding: 10px;


}

span {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 228, 107);
}



section {
    background-color: blueviolet;
    position: relative;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    z-index: 1;
    overflow-x: hidden;
    padding: 10px;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 0px #000000;
    margin-top: 35px;
    font-size: 12px;
    zoom: 1.6;
    padding: 10px;


}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}



#folhas1 {
    width: 1%;

}

#folhas2 {
    width: 5%;

}

#eSTJfls {
    width: 10%;
    text-align: right;
}

#centro {
    float: left;
    width: 80%;
    text-align: left;
}

.resultadoApreensao
{
    width: 10%;
    text-align: left;
    margin-left: 10px;
    

}

#precedente {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-indent: 2cm;
    font-style: italic;
}

